@model List<FoodDrive.Models.Customer>

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodDrive - Список користувачі</title>
    
</head>
<body>
    <h1>Список Користувачів</h1>
    <table>
        <thead>
            <tr>
                <th>Ім'я</th>
                <th>Номер телефону</th>
                <th>Кількість замовлень</th>
                <th>Адреса</th>
                <th>Дії</th>
            </tr>
        </thead>
    </table>

</body>
</html>
