@model FoodDrive.Models.Customer

<h2>Редагування клієнта</h2>

<form asp-action="EditAdmin" method="post">

    <label>Ім'я:</label>
    <input type="text" name="Name" value="@Model?.Name" required />
    <br />

    <label>Пароль:</label>
    <input type="text" name="Password" value="@Model?.Password" required />
    <br />

    <button type="submit">Змінити</button>
</form>
<a href="@Url.Action("List")">Назад до списку</a>
